@import "tailwindcss";

@theme {
  --color-primary:#02f3e9 ;
  --color-secondary: #80CBC4;
  --color-lighter: #5C8374;
  --color-darker: #183D3D;
  --color-bg: #040D12;
}

:root {
  background-color: #040D12;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

:root::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/bgnexus.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}